<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <a href="/login.mustache">Login</a>
        <a href="/profile.mustache">Profile</a>
        <a href="/signup.mustache">Sign Up</a>
    </nav>
    <br>
    <div class="welcome">
        <h1>Welcome to the Home Page</h1>
    </div>
</body>

</html>